fastapi
pydantic
pydantic-settings
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
psutil
numpy
typer
httpx
python-multipart
tensorflow
